{
    "configure": {
        "nokia-conf:card": [
            {
                "slot-number": 1,
                "card-type": "iom-1",
                "mda": [
                    {
                        "mda-slot": 1,
                        "mda-type": "me12-100gb-qsfp28"
                    },
                    {
                        "mda-slot": 2
                    }
                ],
                "fp": [
                    {
                        "fp-number": 1
                    }
                ]
            }
        ],
        "nokia-conf:log": {
            "filter": [
                {
                    "filter-name": "1001",
                    "named-entry": [
                        {
                            "entry-name": "10",
                            "description": "Collect only events of major severity or higher",
                            "action": "forward",
                            "match": {
                                "severity": {
                                    "gte": "major"
                                }
                            }
                        }
                    ]
                }
            ],
            "log-id": [
                {
                    "name": "100",
                    "description": "Default Serious Errors Log",
                    "filter": "1001",
                    "source": {
                        "main": true
                    },
                    "destination": {
                        "memory": {
                            "max-entries": 500
                        }
                    }
                },
                {
                    "name": "99",
                    "description": "Default System Log",
                    "source": {
                        "main": true
                    },
                    "destination": {
                        "memory": {
                            "max-entries": 500
                        }
                    }
                }
            ]
        },
        "nokia-conf:policy-options": {
            "community": [
                {
                    "name": "GLOBAL",
                    "member": [
                        {
                            "member": "target:65000:1"
                        }
                    ]
                }
            ],
            "prefix-list": [
                {
                    "name": "CUSTOMER-SUBNETS",
                    "prefix": [
                        {
                            "ip-prefix": "0.0.0.0/0",
                            "type": "range",
                            "start-length": 24,
                            "end-length": 24
                        }
                    ]
                }
            ],
            "policy-statement": [
                {
                    "name": "accept_all",
                    "default-action": {
                        "action-type": "accept"
                    }
                },
                {
                    "name": "default_ibgp_export_evpn_new",
                    "entry": [
                        {
                            "entry-id": 10,
                            "from": {
                                "protocol": {
                                    "name": [
                                        "direct"
                                    ]
                                }
                            },
                            "action": {
                                "action-type": "reject"
                            }
                        }
                    ],
                    "default-action": {
                        "action-type": "accept"
                    }
                },
                {
                    "name": "default_ibgp_import_evpn_new",
                    "description": "Import policy to include customer routes in GLOBAL VRF",
                    "default-action": {
                        "action-type": "accept",
                        "community": {
                            "add": [
                                "GLOBAL"
                            ]
                        }
                    }
                },
                {
                    "name": "global_ebgp_export_new",
                    "entry": [
                        {
                            "entry-id": 10,
                            "from": {
                                "prefix-list": [
                                    "CUSTOMER-SUBNETS"
                                ]
                            },
                            "action": {
                                "action-type": "accept"
                            }
                        }
                    ],
                    "default-action": {
                        "action-type": "reject"
                    }
                },
                {
                    "name": "global_ebgp_import_new",
                    "default-action": {
                        "action-type": "accept",
                        "community": {
                            "replace": [
                                "GLOBAL"
                            ]
                        }
                    }
                },
                {
                    "name": "next-hop-self-ebgp-routes-only",
                    "entry": [
                        {
                            "entry-id": 10,
                            "from": {
                                "path-type": "ebgp"
                            },
                            "action": {
                                "action-type": "accept",
                                "next-hop": "self"
                            }
                        }
                    ],
                    "default-action": {
                        "action-type": "accept"
                    }
                }
            ]
        },
        "nokia-conf:port": [
            {
                "port-id": "1/1/c1",
                "admin-state": "enable",
                "connector": {
                    "breakout": "c1-100g"
                }
            },
            {
                "port-id": "1/1/c1/1",
                "admin-state": "enable",
                "ethernet": {
                    "mode": "network",
                    "mtu": 1514,
                    "lldp": {
                        "dest-mac": [
                            {
                                "mac-type": "nearest-bridge",
                                "receive": true,
                                "transmit": true,
                                "tx-tlvs": {
                                    "port-desc": true,
                                    "sys-name": true,
                                    "sys-desc": true
                                }
                            }
                        ]
                    }
                }
            },
            {
                "port-id": "1/1/c2",
                "admin-state": "enable",
                "connector": {
                    "breakout": "c1-100g"
                }
            },
            {
                "port-id": "1/1/c2/1",
                "admin-state": "enable",
                "ethernet": {
                    "mode": "network",
                    "mtu": 1514,
                    "lldp": {
                        "dest-mac": [
                            {
                                "mac-type": "nearest-bridge",
                                "receive": true,
                                "transmit": true,
                                "tx-tlvs": {
                                    "port-desc": true,
                                    "sys-name": true,
                                    "sys-desc": true
                                }
                            }
                        ]
                    }
                }
            },
            {
                "port-id": "1/1/c3",
                "admin-state": "enable",
                "connector": {
                    "breakout": "c1-100g"
                }
            },
            {
                "port-id": "1/1/c3/1",
                "admin-state": "enable",
                "ethernet": {
                    "mode": "access",
                    "mtu": 1514,
                    "lldp": {
                        "dest-mac": [
                            {
                                "mac-type": "nearest-bridge",
                                "receive": true,
                                "transmit": true,
                                "tx-tlvs": {
                                    "port-desc": true,
                                    "sys-name": true,
                                    "sys-desc": true
                                }
                            }
                        ]
                    }
                }
            },
            {
                "port-id": "1/1/c4",
                "admin-state": "enable",
                "connector": {
                    "breakout": "c1-100g"
                }
            },
            {
                "port-id": "1/1/c4/1",
                "admin-state": "enable",
                "ethernet": {
                    "mode": "network",
                    "mtu": 1514,
                    "lldp": {
                        "dest-mac": [
                            {
                                "mac-type": "nearest-bridge",
                                "receive": true,
                                "transmit": true,
                                "tx-tlvs": {
                                    "port-desc": true,
                                    "sys-name": true,
                                    "sys-desc": true
                                }
                            }
                        ]
                    }
                }
            },
            {
                "port-id": "1/1/c5"
            },
            {
                "port-id": "1/1/c6"
            },
            {
                "port-id": "1/1/c7"
            },
            {
                "port-id": "1/1/c8"
            },
            {
                "port-id": "1/1/c9"
            },
            {
                "port-id": "1/1/c10"
            },
            {
                "port-id": "1/1/c11"
            },
            {
                "port-id": "1/1/c12"
            }
        ],
        "nokia-conf:router": [
            {
                "router-name": "Base",
                "autonomous-system": 65000,
                "ecmp": 64,
                "router-id": "10.0.0.6",
                "interface": [
                    {
                        "interface-name": "i1/1/c1",
                        "admin-state": "enable",
                        "description": "spine1 ~ leaf1 () vlan=0",
                        "port": "1/1/c1/1",
                        "ipv4": {
                            "primary": {
                                "address": "10.1.0.1",
                                "prefix-length": 31
                            }
                        }
                    },
                    {
                        "interface-name": "i1/1/c2",
                        "admin-state": "enable",
                        "description": "spine1 ~ leaf2 () vlan=0",
                        "port": "1/1/c2/1",
                        "ipv4": {
                            "primary": {
                                "address": "10.1.0.5",
                                "prefix-length": 31
                            }
                        }
                    },
                    {
                        "interface-name": "i1/1/c4",
                        "admin-state": "enable",
                        "description": "spine1 ~ spine2 () vlan=0",
                        "port": "1/1/c4/1",
                        "ipv4": {
                            "primary": {
                                "address": "10.1.0.8",
                                "prefix-length": 31
                            }
                        }
                    },
                    {
                        "interface-name": "system",
                        "admin-state": "enable",
                        "description": "system interface vlan=0",
                        "ipv4": {
                            "primary": {
                                "address": "10.0.0.6",
                                "prefix-length": 32
                            }
                        }
                    }
                ],
                "bgp": {
                    "connect-retry": 5,
                    "min-route-advertisement": 1,
                    "client-reflect": true,
                    "vpn-apply-export": true,
                    "vpn-apply-import": true,
                    "rapid-withdrawal": true,
                    "mp-bgp-keep": true,
                    "ebgp-default-reject-policy": {
                        "import": false,
                        "export": false
                    },
                    "rapid-update": {
                        "evpn": true
                    },
                    "multipath": {
                        "ebgp": 64,
                        "ibgp": 64
                    },
                    "group": [
                        {
                            "group-name": "ebgp",
                            "admin-state": "enable",
                            "family": {
                                "ipv4": true,
                                "ipv6": false
                            },
                            "send-communities": {
                                "extended": false
                            },
                            "import": {
                                "policy": [
                                    "accept_all"
                                ]
                            },
                            "export": {
                                "policy": [
                                    "accept_all"
                                ]
                            }
                        },
                        {
                            "group-name": "ibgp-ipv4",
                            "admin-state": "enable",
                            "preference": 171,
                            "local-address": "10.0.0.6",
                            "family": {
                                "ipv4": false,
                                "ipv6": false,
                                "evpn": true
                            },
                            "cluster": {
                                "cluster-id": "10.0.0.6"
                            },
                            "next-hop-unchanged": {
                                "evpn": true
                            },
                            "import": {
                                "policy": [
                                    "default_ibgp_import_evpn_new"
                                ]
                            },
                            "export": {
                                "policy": [
                                    "default_ibgp_export_evpn_new"
                                ]
                            }
                        }
                    ],
                    "neighbor": [
                        {
                            "ip-address": "10.0.0.7",
                            "description": "spine2",
                            "group": "ibgp-ipv4",
                            "peer-as": 65000,
                            "family": {
                                "ipv4": false,
                                "ipv6": false,
                                "evpn": true
                            }
                        },
                        {
                            "ip-address": "10.0.0.8",
                            "description": "leaf1",
                            "group": "ibgp-ipv4",
                            "peer-as": 65000,
                            "family": {
                                "ipv4": false,
                                "ipv6": false,
                                "evpn": true
                            }
                        },
                        {
                            "ip-address": "10.0.0.9",
                            "description": "leaf2",
                            "group": "ibgp-ipv4",
                            "peer-as": 65000,
                            "family": {
                                "ipv4": false,
                                "ipv6": false,
                                "evpn": true
                            }
                        },
                        {
                            "ip-address": "10.1.0.0",
                            "description": "leaf1",
                            "group": "ebgp",
                            "peer-as": 65001,
                            "family": {
                                "ipv4": true,
                                "ipv6": false
                            },
                            "local-as": {
                                "as-number": 65010,
                                "prepend-global-as": false
                            }
                        },
                        {
                            "ip-address": "10.1.0.4",
                            "description": "leaf2",
                            "group": "ebgp",
                            "peer-as": 65002,
                            "family": {
                                "ipv4": true,
                                "ipv6": false
                            },
                            "local-as": {
                                "as-number": 65010,
                                "prepend-global-as": false
                            }
                        },
                        {
                            "ip-address": "10.1.0.9",
                            "description": "spine2",
                            "group": "ebgp",
                            "peer-as": 65012,
                            "family": {
                                "ipv4": true,
                                "ipv6": false
                            },
                            "local-as": {
                                "as-number": 65011,
                                "prepend-global-as": false
                            }
                        }
                    ]
                }
            }
        ],
        "nokia-conf:service": {
            "vpls": [
                {
                    "service-name": "l3vni-global",
                    "admin-state": "enable",
                    "service-id": 11111,
                    "customer": "1",
                    "vxlan": {
                        "instance": [
                            {
                                "vxlan-instance": 1,
                                "vni": 11111
                            }
                        ]
                    },
                    "routed-vpls": {
                        "vxlan-ipv4-tep-ecmp": true
                    },
                    "bgp": [
                        {
                            "bgp-instance": 1,
                            "route-target": {
                                "export": "target:65000:1",
                                "import": "target:65000:1"
                            }
                        }
                    ],
                    "bgp-evpn": {
                        "evi": 100,
                        "routes": {
                            "mac-ip": {
                                "advertise": false
                            },
                            "ip-prefix": {
                                "advertise": true
                            }
                        },
                        "vxlan": [
                            {
                                "bgp-instance": 1,
                                "admin-state": "enable",
                                "vxlan-instance": 1,
                                "ecmp": 8
                            }
                        ]
                    }
                }
            ],
            "vprn": [
                {
                    "service-name": "global",
                    "admin-state": "enable",
                    "service-id": 100,
                    "customer": "1",
                    "autonomous-system": 65000,
                    "ecmp": 64,
                    "router-id": "10.0.0.6",
                    "bgp-ipvpn": {
                        "mpls": {
                            "admin-state": "enable",
                            "route-distinguisher": "10.0.0.6:100",
                            "vrf-target": {
                                "import-community": "target:65000:1",
                                "export-community": "target:65000:1"
                            },
                            "auto-bind-tunnel": {
                                "ecmp": 8,
                                "resolution": "any"
                            }
                        }
                    },
                    "bgp": {
                        "connect-retry": 5,
                        "min-route-advertisement": 1,
                        "client-reflect": false,
                        "ebgp-default-reject-policy": {
                            "import": false,
                            "export": false
                        },
                        "multipath": {
                            "ebgp": 64,
                            "ibgp": 64
                        },
                        "group": [
                            {
                                "group-name": "ebgp",
                                "admin-state": "enable",
                                "preference": 169,
                                "family": {
                                    "ipv4": true,
                                    "ipv6": true
                                },
                                "send-communities": {
                                    "extended": false
                                },
                                "import": {
                                    "policy": [
                                        "global_ebgp_import_new"
                                    ]
                                },
                                "export": {
                                    "policy": [
                                        "global_ebgp_export_new"
                                    ]
                                }
                            }
                        ],
                        "neighbor": [
                            {
                                "ip-address": "192.0.0.0",
                                "description": "mplsnet",
                                "group": "ebgp",
                                "peer-as": 65100,
                                "family": {
                                    "ipv4": true,
                                    "ipv6": false
                                },
                                "local-as": {
                                    "as-number": 65010,
                                    "prepend-global-as": false
                                }
                            }
                        ]
                    },
                    "interface": [
                        {
                            "interface-name": "i1/1/c3",
                            "admin-state": "enable",
                            "description": "spine1 ~ mplsnet (to-external) vlan=0",
                            "ipv4": {
                                "primary": {
                                    "address": "192.0.0.1",
                                    "prefix-length": 31
                                }
                            },
                            "sap": [
                                {
                                    "sap-id": "1/1/c3/1"
                                }
                            ]
                        },
                        {
                            "interface-name": "l3vni-global",
                            "vpls": [
                                {
                                    "vpls-name": "l3vni-global",
                                    "evpn-tunnel": {}
                                }
                            ]
                        },
                        {
                            "interface-name": "loopback.100",
                            "admin-state": "enable",
                            "description": "VRF Loopback global () vlan=0",
                            "loopback": true,
                            "ipv4": {
                                "primary": {
                                    "address": "10.2.0.1",
                                    "prefix-length": 32
                                }
                            }
                        }
                    ]
                }
            ]
        },
        "nokia-conf:system": {
            "name": "spine1",
            "dns": {
                "address-pref": "ipv4-only"
            },
            "grpc": {
                "admin-state": "enable",
                "allow-unsecure-connection": [
                    null
                ],
                "gnmi": {
                    "auto-config-save": true
                },
                "rib-api": {
                    "admin-state": "enable"
                }
            },
            "management-interface": {
                "configuration-mode": "model-driven",
                "netconf": {
                    "admin-state": "enable",
                    "auto-config-save": true
                },
                "yang-modules": {
                    "openconfig-modules": true
                },
                "snmp": {
                    "packet-size": 9216,
                    "streaming": {
                        "admin-state": "enable"
                    }
                }
            },
            "bluetooth": {
                "advertising-timeout": 30
            },
            "login-control": {
                "ssh": {
                    "inbound-max-sessions": 30
                }
            },
            "security": {
                "aaa": {
                    "local-profiles": {
                        "profile": [
                            {
                                "user-profile-name": "administrative",
                                "default-action": "permit-all",
                                "netconf": {
                                    "base-op-authorization": {
                                        "action": true,
                                        "cancel-commit": true,
                                        "close-session": true,
                                        "commit": true,
                                        "copy-config": true,
                                        "create-subscription": true,
                                        "delete-config": true,
                                        "discard-changes": true,
                                        "edit-config": true,
                                        "get": true,
                                        "get-config": true,
                                        "get-data": true,
                                        "get-schema": true,
                                        "kill-session": true,
                                        "lock": true,
                                        "validate": true
                                    }
                                },
                                "entry": [
                                    {
                                        "entry-id": 10,
                                        "action": "permit",
                                        "match": "configure system security"
                                    },
                                    {
                                        "entry-id": 20,
                                        "action": "permit",
                                        "match": "show system security"
                                    },
                                    {
                                        "entry-id": 30,
                                        "action": "permit",
                                        "match": "tools perform security"
                                    },
                                    {
                                        "entry-id": 40,
                                        "action": "permit",
                                        "match": "tools dump security"
                                    },
                                    {
                                        "entry-id": 50,
                                        "action": "permit",
                                        "match": "admin system security"
                                    },
                                    {
                                        "entry-id": 100,
                                        "action": "deny",
                                        "match": "configure li"
                                    },
                                    {
                                        "entry-id": 110,
                                        "action": "deny",
                                        "match": "show li"
                                    },
                                    {
                                        "entry-id": 111,
                                        "action": "deny",
                                        "match": "clear li"
                                    },
                                    {
                                        "entry-id": 112,
                                        "action": "deny",
                                        "match": "tools dump li"
                                    }
                                ]
                            },
                            {
                                "user-profile-name": "default",
                                "entry": [
                                    {
                                        "entry-id": 10,
                                        "action": "permit",
                                        "match": "exec"
                                    },
                                    {
                                        "entry-id": 20,
                                        "action": "permit",
                                        "match": "exit"
                                    },
                                    {
                                        "entry-id": 30,
                                        "action": "permit",
                                        "match": "help"
                                    },
                                    {
                                        "entry-id": 40,
                                        "action": "permit",
                                        "match": "logout"
                                    },
                                    {
                                        "entry-id": 50,
                                        "action": "permit",
                                        "match": "password"
                                    },
                                    {
                                        "entry-id": 60,
                                        "action": "deny",
                                        "match": "show config"
                                    },
                                    {
                                        "entry-id": 65,
                                        "action": "deny",
                                        "match": "show li"
                                    },
                                    {
                                        "entry-id": 66,
                                        "action": "deny",
                                        "match": "clear li"
                                    },
                                    {
                                        "entry-id": 67,
                                        "action": "deny",
                                        "match": "tools dump li"
                                    },
                                    {
                                        "entry-id": 68,
                                        "action": "deny",
                                        "match": "state li"
                                    },
                                    {
                                        "entry-id": 70,
                                        "action": "permit",
                                        "match": "show"
                                    },
                                    {
                                        "entry-id": 75,
                                        "action": "permit",
                                        "match": "state"
                                    },
                                    {
                                        "entry-id": 80,
                                        "action": "permit",
                                        "match": "enable-admin"
                                    },
                                    {
                                        "entry-id": 90,
                                        "action": "permit",
                                        "match": "enable"
                                    },
                                    {
                                        "entry-id": 100,
                                        "action": "deny",
                                        "match": "configure li"
                                    }
                                ]
                            }
                        ]
                    }
                },
                "ssh": {
                    "server-cipher-list-v1": {
                        "cipher": [
                            {
                                "index": 200,
                                "name": "3des"
                            },
                            {
                                "index": 205,
                                "name": "blowfish"
                            }
                        ]
                    },
                    "server-cipher-list-v2": {
                        "cipher": [
                            {
                                "index": 190,
                                "name": "aes256-ctr"
                            },
                            {
                                "index": 192,
                                "name": "aes192-ctr"
                            },
                            {
                                "index": 194,
                                "name": "aes128-ctr"
                            },
                            {
                                "index": 200,
                                "name": "aes128-cbc"
                            },
                            {
                                "index": 205,
                                "name": "3des-cbc"
                            },
                            {
                                "index": 210,
                                "name": "blowfish-cbc"
                            },
                            {
                                "index": 215,
                                "name": "cast128-cbc"
                            },
                            {
                                "index": 220,
                                "name": "arcfour"
                            },
                            {
                                "index": 225,
                                "name": "aes192-cbc"
                            },
                            {
                                "index": 230,
                                "name": "aes256-cbc"
                            },
                            {
                                "index": 235,
                                "name": "rijndael-cbc"
                            }
                        ]
                    },
                    "client-cipher-list-v1": {
                        "cipher": [
                            {
                                "index": 200,
                                "name": "3des"
                            },
                            {
                                "index": 205,
                                "name": "blowfish"
                            },
                            {
                                "index": 210,
                                "name": "des"
                            }
                        ]
                    },
                    "client-cipher-list-v2": {
                        "cipher": [
                            {
                                "index": 190,
                                "name": "aes256-ctr"
                            },
                            {
                                "index": 192,
                                "name": "aes192-ctr"
                            },
                            {
                                "index": 194,
                                "name": "aes128-ctr"
                            },
                            {
                                "index": 200,
                                "name": "aes128-cbc"
                            },
                            {
                                "index": 205,
                                "name": "3des-cbc"
                            },
                            {
                                "index": 210,
                                "name": "blowfish-cbc"
                            },
                            {
                                "index": 215,
                                "name": "cast128-cbc"
                            },
                            {
                                "index": 220,
                                "name": "arcfour"
                            },
                            {
                                "index": 225,
                                "name": "aes192-cbc"
                            },
                            {
                                "index": 230,
                                "name": "aes256-cbc"
                            },
                            {
                                "index": 235,
                                "name": "rijndael-cbc"
                            }
                        ]
                    },
                    "server-mac-list-v2": {
                        "mac": [
                            {
                                "index": 200,
                                "name": "hmac-sha2-512"
                            },
                            {
                                "index": 210,
                                "name": "hmac-sha2-256"
                            },
                            {
                                "index": 215,
                                "name": "hmac-sha1"
                            },
                            {
                                "index": 220,
                                "name": "hmac-sha1-96"
                            },
                            {
                                "index": 225,
                                "name": "hmac-md5"
                            },
                            {
                                "index": 230,
                                "name": "hmac-ripemd160"
                            },
                            {
                                "index": 235,
                                "name": "hmac-ripemd160-openssh-com"
                            },
                            {
                                "index": 240,
                                "name": "hmac-md5-96"
                            }
                        ]
                    },
                    "client-mac-list-v2": {
                        "mac": [
                            {
                                "index": 200,
                                "name": "hmac-sha2-512"
                            },
                            {
                                "index": 210,
                                "name": "hmac-sha2-256"
                            },
                            {
                                "index": 215,
                                "name": "hmac-sha1"
                            },
                            {
                                "index": 220,
                                "name": "hmac-sha1-96"
                            },
                            {
                                "index": 225,
                                "name": "hmac-md5"
                            },
                            {
                                "index": 230,
                                "name": "hmac-ripemd160"
                            },
                            {
                                "index": 235,
                                "name": "hmac-ripemd160-openssh-com"
                            },
                            {
                                "index": 240,
                                "name": "hmac-md5-96"
                            }
                        ]
                    }
                },
                "user-params": {
                    "local-user": {
                        "user": [
                            {
                                "user-name": "admin",
                                "password": "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6",
                                "access": {
                                    "console": true,
                                    "ftp": true,
                                    "snmp": true,
                                    "netconf": true,
                                    "grpc": true
                                },
                                "console": {
                                    "member": [
                                        "administrative"
                                    ]
                                }
                            },
                            {
                                "user-name": "vrnetlab",
                                "password": "$2y$10$RAh0sNWO3GlzFAEr2kgmE.VwlTWcF/0OJOrNvRfpEDQl7FitWTioC",
                                "access": {
                                    "console": true,
                                    "netconf": true
                                },
                                "console": {
                                    "member": [
                                        "administrative",
                                        "default"
                                    ]
                                }
                            }
                        ]
                    }
                }
            }
        }
    }
}