
route-map drop-leaked-connected-routes deny 1
 ! Avoid passing on leaked connected routes from internet vrf to other customer vrfs
 match tag 1
exit
route-map drop-leaked-connected-routes permit 5
 match source-protocol connected
 ! Mark leaked connected prefixes with a tag for filtering, to avoid chained leaking
 set tag 1
exit

{% for vname in vrfs if vname!="internet" %}
router bgp {{ bgp.as }} vrf {{ vname }}

 address-family ipv4 unicast
  import vrf route-map drop-leaked-connected-routes
 exit-address-family
 !
exit
!
{% endfor %}

{# Configure EVPN export route-map to block advertisement of leaked connected prefixes #}
route-map evpn-drop-leaked-connected deny 1
 ! Export policy to avoid advertising leaked connected routes via EVPN
 match tag 1
exit
route-map evpn-drop-leaked-connected permit 2
exit

router bgp {{ bgp.as }}

 ! Configure the bgp cluster-id on all hosts, such that they drop each other's prefixes? Doesn't work
 ! bgp cluster-id 99.99.99.99

 address-family l2vpn evpn
{% for n in bgp.neighbors if n.evpn|default(False) %}
  neighbor {{ n.ipv4 if n.ipv4 is string else n.local_if }} route-map evpn-drop-leaked-connected out
{% endfor %}
 exit-address-family
exit
