route-map no-advertise permit 10
 set community no-advertise
exit

{% for vname,vdata in vrfs %}
router bgp {{ bgp.as }} vrf {{ vname }}

 address-family ipv4 unicast
  import vrf route-map no-advertise
 exit-address-family
 !
exit
!
{% endfor %}
