updates:
- path: network-instance[name=default]/protocols/bgp/group[group-name=ebgp]
  val:
   as-path-options:
    allow-own-as: 1
    _annotate_allow-own-as: "Accept loopback route to other spine (same AS)"
