updates:
{% for vni in vxlan.vnis %}
- path: tunnel-interface[name=vxlan0]/vxlan-interface[index={{vni}}]
  val:
   type: bridged # L2
   ingress:
    vni: {{ vni }}
   egress:
    source-ip: use-system-ipv4-address

- path: network-instance[name=overlay-l2-vni{{vni}}]
  val:
   type: mac-vrf
   admin-state: enable
   vxlan-interface:
   - name: vxlan0.{{vni}}
   protocols:
    bgp-evpn:
     bgp-instance:
     - id: 1
       admin-state: enable
       vxlan-interface: vxlan0.{{vni}}
       evi: {{ vni }}
       ecmp: 8
    bgp-vpn:
     bgp-instance:
     - id: 1
{% endfor %}
