{#
 These gNMI YANG updates provision a L2 + (optionally) L3 VNI,
 with anycast gateway on SR Linux

 The configuration differs depending on the evpn.use_symmetric_irb flag:
 * Symmetric ( i.e. originating VTEP performs route lookup and uses L3 VNI )
 * Asymmetric ( i.e. only use L2 VNIs, originating VTEP needs to know final MAC )

#}
updates:
{% for vni in vxlan.vnis %}
# index range is 0..99999999
- path: tunnel-interface[name=vxlan0]/vxlan-interface[index={{vni}}]
  val:
   type: bridged # L2 VNI
   ingress:
    vni: {{ vni }}
   egress:
    source-ip: use-system-ipv4-address

{% if evpn.use_symmetric_irb|default(False) %}
- path: tunnel-interface[name=vxlan0]/vxlan-interface[index={{vni+1}}]
  val:
   type: routed # L3 VNI
   ingress:
    vni: {{ vni+1 }}
   egress:
    source-ip: use-system-ipv4-address
{% endif %}

- path: interface[name=irb0]
  val:
   admin-state: enable
   subinterface:
   - index: {{ vni }} # Range: 0..9999
     ipv4:
      address:
      - ip-prefix: 10.{{vni}}.0.{{id+1}}/24
        primary: [null]
      - ip-prefix: 10.{{vni}}.0.1/24
        anycast-gw: True
     anycast-gw: { }

- path: network-instance[name=overlay-router-l2-{{vni}}]
  val:
   type: mac-vrf
   admin-state: enable
   interface:
   - name: irb0.{{ vni }}
   vxlan-interface:
   - name: vxlan0.{{vni}}
   protocols:
    bgp-evpn:
     bgp-instance:
     - id: 1
       admin-state: enable
       vxlan-interface: vxlan0.{{vni}}
       evi: {{ vni }}
       ecmp: 8
    bgp-vpn:
     bgp-instance:
     - id: 1

- path: network-instance[name=overlay-router-l3-{{vni}}]
  val:
   type: ip-vrf
   admin-state: enable
   interface:
   - name: irb0.{{ vni }}
{% if evpn.use_symmetric_irb|default(False) %}
   vxlan-interface:
   - name: vxlan0.{{vni+1}}
   protocols:
    bgp-evpn:
     bgp-instance:
     - id: 1
       admin-state: enable
       vxlan-interface: vxlan0.{{vni+1}}
       evi: {{ vni+1 }}
       ecmp: 8
    bgp-vpn:
     bgp-instance:
     - id: 1
{% endif %}
{% endfor %}
