{% if vrfs is defined %}

delete:
{% for vname in vrfs if vname!='global' %}
- routing-policy/policy[name={{vname}}_export]
- routing-policy/policy[name={{vname}}_import]
{% endfor %}

updates:
{% for vname,vdata in vrfs.items() if vname!='global' %}
- path: routing-policy/policy[name={{vname}}_export]
  val:  
   default-action:
    accept:
     bgp:
      communities:
       replace: {{ vname }}_export

- path: routing-policy/policy[name={{vname}}_import]
  val:
   default-action: 
    reject: { }
   statement:
{%  for c in vdata.import|default([]) %}
   - sequence-id: {{ 10 + loop.index }}
     match:
      bgp:
       community-set: "C{{ c|replace(':','_') }}"
     action:
      accept: { }
{%  endfor %}
{% endfor %}

{% if 'global' in vrfs %}
{% for n in vrfs['global'].bgp.neighbors if n.ipv4_rfc8950|default(0) %}
- path: network-instance[name=global]/protocols/bgp/group[group-name=ebgp-unnumbered-{{n.local_as}}]
  val:
   export-policy: accept_all
   import-policy: accept_all
{% endfor %}
{% endif %}

{% endif %}