delete:
- routing-policy/policy[name=global_import]

updates:
- path: routing-policy/policy[name=global_import_new]
  val:  
   default-action:
    accept:
     bgp:
      communities:
       replace: global_export

- path: network-instance[name=global]/protocols/bgp/group[group-name=ebgp]
  val:
   export-policy: accept_all
   import-policy: global_import_new

- path: network-instance[name=default]/protocols/bgp
  val:
   preference:
    ebgp: 170
    ibgp: 171
    _annotate_ibgp: "Prefer eBGP routes received from MPLS network over EVPN iBGP routes, to avoid looping"

   group:
   - group-name: ibgp-ipv4
     export-policy: global_export # Avoid re-advertising customer routes or local /31 links