delete:
- routing-policy/policy[name=global_ebgp_import]

updates:
- path: routing-policy/policy[name=global_ebgp_import_new]
  val:
   default-action:
    accept:
     bgp:
      communities:
       replace: global_export

{# Only advertise EVPN routes from customers towards MPLS, not local interfaces #}
{# Note: not quite working, mpls still seeing /31 prefixes #}
- path: routing-policy/policy[name=global_ebgp_export_new]
  val:
   default-action:
    reject: { }
   statement:
   - sequence-id: 10
     match:
      protocol: bgp-evpn
     action:
      accept: { }  # Optionally, strip all communities

- path: routing-policy/policy[name=default_ibgp_export_evpn_new]
  val:
   default-action:
    accept: { }
   statement:
   - sequence-id: 10
     match:
      protocol: local
     action:
      reject: { }  # Don't advertise local link IPs or loopbacks

- path: network-instance[name=global]/protocols/bgp
  val:
   export-policy: global_ebgp_export_new
   import-policy: global_ebgp_import_new

{# Keep all routes in the Global VRF FIB on spines #}
- path: network-instance[name=default]/protocols/bgp
  val:
   group:
   - group-name: ibgp-ipv4
     export-policy: default_ibgp_export_evpn_new  # Avoid advertising local /31 links, do need EVPN routes as RR
   evpn:
    keep-all-routes: True
   preference:
     ebgp: 170
     ibgp: 171
     _annotate_ibgp: "Prefer eBGP routes received from MPLS network over EVPN iBGP routes, to avoid looping"
