updates:
- path: configure/policy-options/community[name=global_export]
  val:
   member:
   - member: "target:{{ vrfs['global']['export'][0] }}"

- path: configure/policy-options/policy-statement[name=global_ebgp_import_new]
  val:
   default-action:
    action-type: accept
    community:
     replace: ["global_export"]

{# Only advertise EVPN routes from customers towards MPLS, not local interfaces #}
{# Note: not quite working, mpls still seeing /31 prefixes #}
- path: configure/policy-options/policy-statement[name=global_ebgp_export_new]
  val:
   default-action:
    action-type: reject
   entry:
   - entry-id: 10
     from:
      family: ["evpn"]
     action:
      action-type: accept  # Optionally, strip all communities

- path: configure/policy-options/policy-statement[name=default_ibgp_export_evpn_new]
  val:
   default-action:
    action-type: accept
   entry:
   - entry-id: 10
     from:
      protocol:
       name: ["direct"] # or direct-interface
     action:
      action-type: reject  # Don't advertise local link IPs or loopbacks

- path: configure/service/vprn[service-name=global]/bgp
  val:
   export:
    policy: ["global_ebgp_export_new"]
   import:
    policy: ["global_ebgp_import_new"]

{# Keep all routes in the Global VRF FIB on spines #}
- path: configure/router[router-name=Base]/bgp
  val:
   group:
   - group-name: ibgp-ipv4
     preference: 171 # prefer eBGP routes
     export:
      policy: ["default_ibgp_export_evpn_new"]  # Avoid advertising local /31 links, do need EVPN routes as RR
   mp-bgp-keep: True
